#
# PRODUCTION
#
production:
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_production
  pool: 5
  username: <%= @user %>
  password: <%= @password %>
  host: <%= @host %>
  # port: 5432 
  # socket: /tmp/postgresql.sock

#
# Development specific
#
development:
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_development
  pool: 5
  username: <%= @user %>
  password: <%= @password %>
  host: <%= @host %>
  # socket: /tmp/postgresql.sock

#
# Staging specific
#
staging:
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_staging
  pool: 5
  username: <%= @user %>
  password: <%= @password %>
  host: <%= @host %>
  # socket: /tmp/postgresql.sock

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test: &test
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_test
  pool: 5
  username: <%= @user %>
  password: <%= @password %>
  host: <%= @host %>
  # socket: /tmp/postgresql.sock
