# GITLAB
# Maintainer: @randx
# App Version: 5.0

upstream gitlab {
  server unix:/<%= @path %>/tmp/sockets/gitlab.socket;
}

<% if @port == '443' %>
server {
  listen *:80;
  server_name <%= @host %>;
  server_tokens off;
  return 301 https://<%= @host %>$request_uri;
}
<% end %>

server {
  listen *:<%= @port %>;
  server_name <%= @host %>;
  server_tokens off;     # don't show the version number, a security best practice
  root <%= @path %>/public;

  <% if @port == '443' %>
  ssl on;
  ssl_certificate <%= @ssl_certificate_path %>/<%= @host %>.crt;
  ssl_certificate_key <%= @ssl_certificate_key_path %>/<%= @host %>.key;
  ssl_ciphers RC4:HIGH:!aNULL:!MD5;
  ssl_prefer_server_ciphers on;
  <% end %>

  # Set value of client_max_body_size to at least the value of git.max_size in gitlab.yml
  client_max_body_size 5m;

  # individual nginx logs for this gitlab vhost
  access_log  /var/log/nginx/gitlab_access.log;
  error_log   /var/log/nginx/gitlab_error.log;

  location / {
    # serve static files from defined root folder;.
    # @gitlab is a named location for the upstream fallback, see below
    try_files $uri $uri/index.html $uri.html @gitlab;
  }

  # if a file, which is not found in the root folder is requested,
  # then the proxy pass the request to the upsteam (gitlab unicorn)
  location @gitlab {
    proxy_read_timeout 300; # https://github.com/gitlabhq/gitlabhq/issues/694
    proxy_connect_timeout 300; # https://github.com/gitlabhq/gitlabhq/issues/694
    proxy_redirect     off;

    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_set_header   Host              $http_host;
    proxy_set_header   X-Real-IP         $remote_addr;
    proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;

    proxy_pass http://gitlab;
  }
}
